body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1.2rem;
    height: 100vh;
    display: grid;
    margin: 0;
    place-items: center;
    text-align: left;
}

li {
    list-style: none;
    margin: 0.8rem 0;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
}

li small {
    font-size: 0.8rem;
    color: #ccc;
}

section,
p {
    border-bottom: #fff solid 1px;
}

p {
    padding-bottom: 1em;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
}